<!-- <h3>{{title}}</h3> -->
<br>
    <nav>
        <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
        -
        <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
        -
        <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
        -
        <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
        -
        <a [routerLink]="['/main']" [routerLinkActive]="['activado']">Login</a>
    </nav>
<hr>

<!-- <empleado-component></empleado-component> -->
<router-outlet></router-outlet>
